.movie-card {
  padding: 5px;
  display: grid;
}

@media screen and (min-width: 1140px) {
  /* desktop */
  .movie-card {
  }
}

@media screen and (max-width: 1140px) {
  /* mobile */
  .movie-card {
  }
}

.popup {
  /* keeps box on top */
  position: absolute;
  z-index: 1;

  /* so box pops up in center */
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: auto;

  border-radius: 20px;
  background: white;

  padding: 20px;
  width: 40%;

  /* whole box is centered */
  margin-left: auto;
  margin-right: auto;
}
