.movie-card {
  width: 290px;
  background-color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
  border: 5px solid rgb(253, 228, 78);
}

.movie-date {
  color: gray;
}

.popup {
  /* keeps box on top */
  position: absolute;
  z-index: 1;

  /* so box pops up in center */
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: auto;

  border-radius: 20px;
  background: white;

  padding: 20px;
  width: 40%;

  /* whole box is centered */
  margin-left: auto;
  margin-right: auto;
}
