.movie-char-grid {
  display: grid;
}

.character-list {
  color: black;
  text-align: left;
}

@media screen and (min-width: 1140px) {
  /* desktop */
  .movie-char-grid {
    grid-auto-flow: column;

    /* explicit grid; 1st arg is #times you repeat, 2nd arg is space btwn columns*/
    grid-template-columns: repeat(3, 10em);
    grid-template-rows: repeat(15, 2.4em);
  }
}

@media screen and (max-width: 1140px) {
  /* mobile */
  .movie-char-grid {
    grid-row-gap: 1em;
  }
}
