.wrapper {
  display: flex;
  justify-content: center;
}

.movie-card-grid {
  display: grid;
}

.center-title {
  color: white;
  text-align: center;
}

@media screen and (min-width: 1140px) {
  /* desktop */
  .movie-card-grid {
    /* explicit grid; 1st arg is #times you repeat, 2nd arg is space btwn columns*/
    grid-template-columns: repeat(4, 14em);
  }
  .center-title {
    font-size: 4em;
  }
}

@media screen and (max-width: 1140px) {
  /* mobile */
  .center-title {
    font-size: 2.5em;
  }
}
