@media screen and (max-width: 1140px) {
  /* mobile */
  .movie-card {
    width: 250px;
    background-color: rgb(56, 73, 92);
    color: white;
    padding: 20px; /*  change area inside boxes */
    margin: 5px; /* change area around boxes */
    text-align: center;
  }

  .movie-date {
    text-align: right;
  }
}

@media screen and (min-width: 1140px) {
  /* desktop */
  .movie-card {
    width: 150px;
    background-color: rgb(79, 152, 214);
    color: white;
    padding: 20px; /*  change area inside boxes */
    margin: 5px; /* change area around boxes */
    border-radius: 5px;
    text-align: center;
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: Transparent;
  border: none;
}
.movie-date {
  font-size: 12px;
}

.popup {
  /* keeps box on top */
  position: absolute;
  z-index: 1;

  /* so box covers most of screen */
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;

  background: rgb(240, 240, 240);
  padding: 20px;

  /* whole box is centered */
  margin-left: auto;
  margin-right: auto;
}
