body {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(150, 150, 150, 0.5);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}
