@media screen and (min-width: 1140px) {
  /* desktop */
  body {
    background-color: rgb(56, 73, 92);
  }
}

@media screen and (max-width: 1140px) {
  /* mobile */
  body {
    background-color: rgb(79, 152, 214);
  }
}

body {
  margin: 1%;
  font-family: Arial;
}

h1,
h3 {
  font-family: Arial;
}
